<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 

<head>
  <title>Hong Kong Stock Data</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/frontpage.css}">
</head>
<body>
  <h1>Stock List</h1>
  <div id="datetime"></div>
  <table class="test-table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Full Exchange Name</th>
        <th>Price(Now)</th>
        <th>Market Change</th>
        <th>Percent Change</th>
        <th>Market Cap</th>
        <th>Volume</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="stock : ${stocks}">
        <td>
          <a th:href="@{/realtime(symbol=${stock.symbol})}" th:text="${stock.symbol}"></a>
        </td>
        <td th:text="${stock.longName}"></td>
        <td th:text="${#numbers.formatDecimal(stock.regularMarketPrice, 0, 2)}"></td>
        <td th:text="${stock.regularMarketChange >= 0 ? '$' + #numbers.formatDecimal(stock.regularMarketChange, 1, 2) : '-$' + #numbers.formatDecimal(-stock.regularMarketChange, 1, 2)}"
            th:style="${stock.regularMarketChange >= 0 ? 'color:green' : 'color:red'}"></td>
        <td th:text="${#numbers.formatDecimal(stock.regularMarketChangePercent, 1, 2) + '%'}"
            th:style="${stock.regularMarketChange >= 0 ? 'color:green' : 'color:red'}"></td>
        <td th:text="${stock.marketCap}"></td>
        <td th:text="${stock.regularMarketVolume}"></td>
      </tr>
    </tbody>
  </table>
  <script th:src="@{/js/frontpage.js}"></script>
</body>
</html>