<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${symbol} + ' Stock History From 2020'"></title>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/stock.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>
<body>
  <div class="home-link">
    <a href="/frontpage">Home</a>
  </div>
  <h1 th:text="${symbol} + ' History Chart'"></h1>
  <div id="stockChart" style="width: 1500px; height: 600px;"></div>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
  const symbol = new URLSearchParams(window.location.search).get('symbol');
  if (symbol) {
    fetch(`/historyentity/${symbol}`)
      .then(response => response.json())
      .then(data => {
        const candlestickData = data.map(item => [
          new Date(item.date).getTime(), // timestamp
          item.open, // open
          item.high, // high
          item.low,  // low
          item.close // close
        ]);

        Highcharts.stockChart('stockChart', {
          rangeSelector: {
            selected: 1
          },
          title: {
            text: `${symbol} Stock Price History`
          },
          time: {
            timezone: 'Asia/Hong_Kong'
          },
          series: [{
            type: 'candlestick',
            name: 'Stock Price',
            data: candlestickData,
            tooltip: {
              valueDecimals: 2
            },
            dataGrouping: {
              enabled: false // Disable data grouping
            }
          }]
        });
      })
      .catch(error => console.error('Error fetching data:', error));
  }
});
  </script>
</body>
</html>
