
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Real Time Stock Data</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/realtime.css}">
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/stock.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>
<body>
  <div class="dropdown-container">
    <label for="stock-select">StockNo</label>
    <select id="stock-select" class="dropdown" onchange="updateData()">
      <option value="-">-</option>
      <option value="0005.HK">0005.HK</option>
      <option value="0011.HK">0011.HK</option>
      <option value="0066.HK">0066.HK</option>
      <option value="0388.HK">0388.HK</option>
      <option value="0700.HK">0700.HK</option>
      <option value="0823.HK">0823.HK</option>
      <option value="0941.HK">0941.HK</option>
      <option value="1810.HK">1810.HK</option>
      <option value="3690.HK">3690.HK</option>
      <option value="9988.HK">9988.HK</option>
    </select>
  </div>

  <table id="bid-ask-table" class="bid-ask-table">
    <thead>
      <tr>
        <th>Bid</th>
        <th>Ask</th>
        <th>History</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <tr th:each="data : ${bidasks}"></tr>
        <td class="bid"></td>
        <td class="ask"></td>
        <td class="Link"><a href="#" target="_blank">Link</a></td>
      </tr>
    </tbody>
  </table>

  <div id="stockChart" style="width: 700px; height: 600px;"></div>
  <script th:src="@{/js/realtime.js}"></script>
</body>

</html>